* {
    font-family: sans-serif;
}

@font-face{
  src: url(font/GT-America-Compressed-Regular.otf);
  font-family: america;
}

body {
  background-color: #7B243F;
}

h1{
  font-size: 400%;
  font-family: america;
  padding-left: 20px;
}

h2{
  font-size: 150%;
  font-family: america;
  padding-left: 20px;
  padding-bottom: 0px;
}

.checked {
content: "\2713";
text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
font-size: 40px;
color: #000;
text-align: center;
line-height: 15px;
display: none;
border-radius: 3px;

}

.checkbox label:before {
}

input[type=checkbox] {
  text-shadow:  1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 80px;
}







.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #fff;
  opacity: 1;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
